body {
  font-size: 16px;
}

h6 {
  font-size: 21px;
}

h5 {
  font-size: 28px;
}

h4 {
  font-size: 37px;
}

h3 {
  font-size: 49px;
}

h2 {
  font-size: 65px;
}

h1 {
  font-size: 87px;
}

h1,h2,h3,h4,h5,h6 {
  text-align: center;
}
